// palette
$orange: #ff4b02;
$softYellow: #fbfe4f;
$goldeFizz: #f6f84f;
$black: #000000;
$silver: #bdbdbd;
$darkGreen: #43865d;
$green: #027610;
$brown: #793726;
$pink: #e18767;
$lightBlue: #3599f0;
$lightRed:#fe0000;
$darkRed: #a51b0b;
$blue: #0000ff;
$softOrange: #ffa500;

